 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am currently a second year Software Engineering student at Carleton University in Ottawa aspiring to become a software engineer. The purpose of this site is to have a place for me to showcase my software projects as well as track the progression of my struggles and success throughout my journey. I also love working on and helping out side projects in my free time so if you're interested in getting to know me, feel free to get in touch!  </p>
                </div>
            </div>
        </div>
    </section>
